<h1>Trump Effect</h1>



<p>Time data only goes back as far as alpha keeps records, after that we can ony get closing prices (need to get date)</p>


<p>default will be some number of tweets (20?)</p>
<p>Customize should be some kind of pop out box</p>

<p>Ticker picker</p> 
<p>Tweets picker</p>
<form>
  <div>
    <label for="tweets">Number of tweets to display (multiples of 10):</label>
    <input id="tweets" type="number" name="tweets" step="10" min="0" max="200" required>
    <span class="validity"></span>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

