<!doctype html>
<html>


<head>
    <title>Line Chart</title>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>

<h1>Trump Effect</h1>



<p>Time data only goes back as far as alpha keeps records, after that we can ony get closing prices (need to get date)</p>


<p>default will be some number of tweets (20?)</p>
<p>Customize should be some kind of pop out box</p>


<%= %>





<p>Ticker picker</p> 
<p>Tweets picker</p>
<form>
  <div>
    <label for="tweets">Number of tweets to display (multiples of 10):</label>
    <input id="tweets" type="number" name="tweets" step="10" min="0" max="200" required>
    <span class="validity"></span>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>Tweets</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
    <% @tweets.order(tweet_created_at: :desc).limit(30).each do |tweet| %>
      <tr>
      	<td><%= tweet.tweet_created_at %></td>
        <td><%= tweet.tweet_full_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<!-- <div id="chart" style="width: 600px; height: 300px;">
	<canvas id="myChart"></canvas>
</div> -->

    <div style="width:75%;">
        <canvas id="canvas"></canvas>
    </div>

<script type="text/javascript">
	// var ctx = document.getElementById("myChart");
	// var myChart = new Chart(ctx, {
	// 		type: 'line',
	// 		data: [20, 10]
	// 		});

	var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	var config = {
	    type: 'line',
	    data: {
	        labels: ["January", "February", "March", "April", "May", "June", "July"],
	        datasets: [{
	            label: "My First dataset",
	            backgroundColor: window.chartColors.red,
	            borderColor: window.chartColors.red,
	            data: [
	                randomScalingFactor(),
	                randomScalingFactor(),
	                randomScalingFactor(),
	                randomScalingFactor(),
	                randomScalingFactor(),
	                randomScalingFactor(),
	                randomScalingFactor()
	            ],
	            fill: false,
	        }]
	    },
	    options: {
	        responsive: true,
	        title:{
	            display:true,
	            text:'Chart.js Line Chart'
	        },
	        tooltips: {
	            mode: 'index',
	            intersect: false,
	        },
	        hover: {
	            mode: 'nearest',
	            intersect: true
	        },
	        scales: {
	            xAxes: [{
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: 'Month'
	                }
	            }],
	            yAxes: [{
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: 'Value'
	                }
	            }]
	        }
	    }
	};
	window.onload = function() {
	            var ctx = document.getElementById("canvas").getContext("2d");
	            window.myLine = new Chart(ctx, config);
	        };


	var colorNames = Object.keys(window.chartColors);
	
	document.getElementById('addDataset').addEventListener('click', function() {
	    var colorName = colorNames[config.data.datasets.length % colorNames.length];
	    var newColor = window.chartColors[colorName];
	    var newDataset = {
	        label: 'Dataset ' + config.data.datasets.length,
	        backgroundColor: newColor,
	        borderColor: newColor,
	        data: [],
	        fill: false
	    };

	    for (var index = 0; index < config.data.labels.length; ++index) {
	        newDataset.data.push(randomScalingFactor());
	    }

	    config.data.datasets.push(newDataset);
	    window.myLine.update();
	});

	document.getElementById('addData').addEventListener('click', function() {
	    if (config.data.datasets.length > 0) {
	        var month = MONTHS[config.data.labels.length % MONTHS.length];
	        config.data.labels.push(month);

	        config.data.datasets.forEach(function(dataset) {
	            dataset.data.push(randomScalingFactor());
	        });

	        window.myLine.update();
	    }
	});

	document.getElementById('removeData').addEventListener('click', function() {
	    config.data.labels.splice(-1, 1); // remove the label first

	    config.data.datasets.forEach(function(dataset, datasetIndex) {
	        dataset.data.pop();
	    });

	    window.myLine.update();
	});

</script>

</body>

</html>